@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Metal+Mania&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: Metal Mania;
  height: auto;
}



/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-image: url('./icone.png');
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center;
}